.contact {
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 96px;
    }
    &__wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        max-height: 436px;
    }
    &__map {
        height: 436px;
        width: 700px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    &__text {
        padding: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }
}