.footer {
    max-width: 1280px;
    margin: 0 auto;
    background: #EA638C;
    height: 170px;
    text-align: center;
    padding: 20px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__store {
        width: 30%;
        color: #fff;
    }
    &__maneTitle{
        color: #fff;
        margin: 25px 0;
        font-size: 22px;
        font-weight: 600;
    }
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 48px;
    }
    &__tel {
        padding-right: 50px;
        font-weight: 600;
        font-size: 34px;
        line-height: 32px;
        color: #FFFFFF; 
        text-align: right;
        width: 40%;
        a {
            color: #FFFFFF;
        }
    }
}