.subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #F7F7F2;
    box-shadow: inset 0px 4px 8px rgba(104, 29, 76, 0.25);
    @include breakpoint-md {
        font-size: 12px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        padding: 0 49px;
        position: relative;
        & > div {
            padding: 26px 0;
        }
    }
    a {
        border-bottom: 1px dashed #B33C86;
        color: #B33C86;
    }
    &__active {
        position: relative;

        &:after {
            display: block;
            content: '';
            background: url('../../icons/heart.png') center no-repeat;
            height: 40px;
            width: 36px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 2;
        }
        a {
            color: #000;
            border-bottom: none;
            height: 100px;
        }  
    }
}